.git
node_modules
bin
coverage
*.md
.env
.env.*
.DS_Store
.idea
.vscode
compose
compose.yaml
compose.prod.yaml
contrib
e2e
docs
sbom.json
sbom-docker.jsoncoverage
*.md
.env
.env.*
.DS_Store
.idea
.vscode
compose.yaml
compose.prod.yaml
contrib
e2e
docs
sbom.json
sbom-docker.json
