Hi {{.FullName}},

You have been invited to join organization {{.OrganizationName}}. Please click the link below to accept the invitation:

{{.InvitationURL}}

If you don't want to accept the invitation, you can ignore this email.

Thanks,
Probo Team