# Anonymized from a live recording against the probo.inc Asana workspace on
# 2026-08-18, using an OAuth token carrying the `default` scope. Workspace,
# membership and user GIDs, the display name and the email were replaced;
# the response shape, headers and timing are as Asana sent them.
---
version: 2
interactions:
    - id: 0
      request:
        host: app.asana.com
        form:
            limit:
                - "100"
            opt_fields:
                - user.gid,user.name,user.email,is_admin,is_guest,is_view_only,is_active,created_at
        headers:
        url: https://app.asana.com/api/1.0/workspaces/9999999/workspace_memberships?limit=100&opt_fields=user.gid%2Cuser.name%2Cuser.email%2Cis_admin%2Cis_guest%2Cis_view_only%2Cis_active%2Ccreated_at
        method: GET
      response:
        body: '{"data":[{"gid":"1100000000000001","user":{"gid":"1000000000000001","email":"admin@example.com","name":"Ada Admin"},"is_active":true,"is_admin":true,"is_guest":false,"is_view_only":false,"created_at":"2026-05-15T13:12:35.328Z"}],"next_page":null}'
        headers:
            Asana-Change:
                - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
                - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
                - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
                - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
                - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
                - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
                - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
                - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
                - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
                - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
            Content-Type:
                - application/json; charset=UTF-8
            X-Asana-Api-Version:
                - "1.1"
            X-Asana-Cell:
                - prod-us1-asana-cell10
        status: 200 OK
        code: 200
        duration: 627.923917ms
