---
version: 2
interactions:
    - id: 0
      request:
        host: app.asana.com
        form:
            limit:
                - "100"
            opt_fields:
                - "email,name"
        headers:
        url: https://app.asana.com/api/1.0/workspaces/9999999/users?opt_fields=email,name&limit=100
        method: GET
      response:
        body: '{"data":[{"gid":"1100000001","name":"Jane Doe","email":"jane@example.com"},{"gid":"1100000002","name":"Bob Smith","email":""}],"next_page":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
