---
version: 2
interactions:
    - id: 0
      request:
        host: app.asana.com
        form:
            limit:
                - "100"
            opt_fields:
                - user.gid,user.name,user.email,is_admin,is_guest,is_view_only,is_active,created_at
        headers:
        url: https://app.asana.com/api/1.0/workspaces/9999999/workspace_memberships?limit=100&opt_fields=user.gid%2Cuser.name%2Cuser.email%2Cis_admin%2Cis_guest%2Cis_view_only%2Cis_active%2Ccreated_at
        method: GET
      response:
        body: '{"data":[{"user":{"gid":"1000000000000001","name":"Ada Admin","email":"admin@example.com"},"is_admin":true,"is_guest":false,"is_view_only":false,"is_active":true,"created_at":"2020-01-15T12:00:00.000Z"},{"user":{"gid":"1000000000000002","name":"Mia Member","email":"member@example.com"},"is_admin":false,"is_guest":false,"is_view_only":false,"is_active":true,"created_at":"2021-03-01T08:30:00.000Z"},{"user":{"gid":"1000000000000003","name":"Gus Guest","email":"guest@example.com"},"is_admin":false,"is_guest":true,"is_view_only":false,"is_active":true,"created_at":"2022-06-10T16:45:00.000Z"},{"user":{"gid":"1000000000000004","name":"Vic Viewer","email":"viewer@example.com"},"is_admin":false,"is_guest":false,"is_view_only":true,"is_active":true,"created_at":"2023-02-20T09:00:00.000Z"},{"user":{"gid":"1000000000000005","name":"Ian Inactive","email":"inactive@example.com"},"is_admin":false,"is_guest":false,"is_view_only":false,"is_active":false,"created_at":"2019-11-05T14:20:00.000Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Asana-Api-Version:
                - "1.1"
        status: 200 OK
        code: 200
        duration: 50ms
