---
version: 2
interactions:
    - id: 0
      request:
        host: api.attio.com
        headers:
        url: https://api.attio.com/v2/self
        method: GET
      response:
        body: '{"active":true,"aud":"6f0b9b44-0000-4000-8000-000000000009","authorized_by_workspace_member_id":"50cf242c-0000-4000-8000-000000000001","client_id":"6f0b9b44-0000-4000-8000-000000000009","exp":null,"iat":1789034543,"iss":"attio.com","scope":"user_management:read","sub":"14beef7a-0000-4000-8000-000000000001","token_type":"Bearer","workspace_id":"14beef7a-0000-4000-8000-000000000001","workspace_logo_url":null,"workspace_name":"Example Workspace","workspace_slug":"example-workspace"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Attio-Execution-Id:
                - 20a771f9-153d-4857-b9f3-be2046c131db
        status: 200 OK
        code: 200
        duration: 155.812875ms
