---
version: 2
interactions:
    - id: 0
      request:
        host: api.attio.com
        headers:
        url: https://api.attio.com/v2/workspace_members
        method: GET
      response:
        body: '{"data":[{"access_level":"admin","avatar_url":"https://example.com/avatar/1.png","created_at":"2026-09-10T09:49:19.753000000Z","email_address":"member1@example.com","first_name":"Member","id":{"workspace_id":"14beef7a-0000-4000-8000-000000000001","workspace_member_id":"50cf242c-0000-4000-8000-000000000001"},"last_name":"1"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accurate-At:
                - "2026-09-10T10:06:44.148759000Z"
            X-Attio-Execution-Id:
                - 40e0e00f-5a8c-48dd-8606-e230f4bfd935
        status: 200 OK
        code: 200
        duration: 147.202541ms
