---
# Hand-authored K7 fixture matching Attio's published v2 token identity schema.
# Synthetic resource IDs and workspace details only.
version: 2
interactions:
    - id: 0
      request:
        host: api.attio.com
        form: {}
        headers:
        url: https://api.attio.com/v2/self
        method: GET
      response:
        body: '{"active":true,"scope":"user_management:read","client_id":"22222222-2222-4222-8222-222222222222","token_type":"Bearer","exp":null,"iat":1669017769,"sub":"11111111-1111-4111-8111-111111111111","aud":"22222222-2222-4222-8222-222222222222","iss":"attio.com","workspace_id":"11111111-1111-4111-8111-111111111111","workspace_name":"Acme","workspace_slug":"acme","workspace_logo_url":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
