---
# Hand-authored Organizations cassette. Never recorded against a live
# account. DescribeAccount is AWS JSON and is matched by host and
# X-Amz-Target (see awsAPIMatcher).
version: 2
interactions:
    - id: 0
      request:
        host: organizations.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSOrganizationsV20161128.DescribeAccount
        url: https://organizations.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Account":{"Id":"123456789012","Arn":"arn:aws:organizations::123456789012:account/o-example/123456789012","Email":"root@example.com","Name":"acme-prod","Status":"ACTIVE"}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
