---
# Hand-authored Identity Center cassette. Never recorded against a live
# account. Interactions are matched by host and X-Amz-Target (see
# awsAPIMatcher) and consumed in call order when the target repeats.
# Call order: ListInstances, ListPermissionSets, DescribePermissionSet
# (AdministratorAccess, then ReadOnlyAccess), ListManagedPolicies for
# ReadOnlyAccess only (the admin name short-circuits), ListAccountAssignments
# for each set, DescribeGroup, ListGroupMemberships, ListUsers,
# LookupEvents, ListMfaDevicesForUser for Bob then Carol (assigned users).
# Bob is assigned AdministratorAccess directly. Carol reaches ReadOnlyAccess
# through the Engineers group. Dave is in the store with no assignment and
# is listed with empty grants; MFA devices are not looked up for him.
# Bob last logged in with TOTP and has a virtual MFA device. Carol's last
# login is password-only and she has no registered device.
version: 2
interactions:
    - id: 0
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListInstances
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Instances":[{"InstanceArn":"arn:aws:sso:::instance/ssoins-example","IdentityStoreId":"d-1234567890"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListPermissionSets
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"PermissionSets":["arn:aws:sso:::permissionSet/ssoins-example/ps-admin","arn:aws:sso:::permissionSet/ssoins-example/ps-readonly"]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.DescribePermissionSet
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"PermissionSet":{"Name":"AdministratorAccess","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-example/ps-admin"}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 4
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListManagedPoliciesInPermissionSet
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"AttachedManagedPolicies":[{"Name":"ReadOnlyAccess","Arn":"arn:aws:iam::aws:policy/ReadOnlyAccess"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 5
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListAccountAssignments
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"AccountAssignments":[{"AccountId":"123456789012","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-example/ps-admin","PrincipalId":"11111111-1111-1111-1111-111111111111","PrincipalType":"USER"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 7
      request:
        host: identitystore.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSIdentityStore.DescribeGroup
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"GroupId":"44444444-4444-4444-4444-444444444444","IdentityStoreId":"d-1234567890","DisplayName":"Engineers"}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 8
      request:
        host: identitystore.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSIdentityStore.ListGroupMemberships
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"GroupMemberships":[{"IdentityStoreId":"d-1234567890","GroupId":"44444444-4444-4444-4444-444444444444","MemberId":{"UserId":"22222222-2222-2222-2222-222222222222"}}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 9
      request:
        host: identitystore.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSIdentityStore.ListUsers
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Users":[{"UserId":"11111111-1111-1111-1111-111111111111","IdentityStoreId":"d-1234567890","UserName":"bob","DisplayName":"Bob Admin","Title":"Security Lead","UserStatus":"ENABLED","CreatedAt":1767225600,"Emails":[{"Primary":true,"Value":"bob@example.com"}]},{"UserId":"22222222-2222-2222-2222-222222222222","IdentityStoreId":"d-1234567890","UserName":"carol@example.com","DisplayName":"Carol Engineer","UserStatus":"ENABLED"},{"UserId":"33333333-3333-3333-3333-333333333333","IdentityStoreId":"d-1234567890","UserName":"dave","DisplayName":"Dave Unused","Emails":[{"Primary":true,"Value":"dave@example.com"}]}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 10
      request:
        host: cloudtrail.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - CloudTrail_20131101.LookupEvents
        url: https://cloudtrail.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Events":[{"EventName":"UserAuthentication","EventTime":1786752000,"CloudTrailEvent":"{\"userIdentity\":{\"onBehalfOf\":{\"userId\":\"11111111-1111-1111-1111-111111111111\"}},\"additionalEventData\":{\"CredentialType\":\"PASSWORD,TOTP\"}}"},{"EventName":"UserAuthentication","EventTime":1782864000,"CloudTrailEvent":"{\"userIdentity\":{\"onBehalfOf\":{\"userId\":\"22222222-2222-2222-2222-222222222222\"}},\"additionalEventData\":{\"CredentialType\":\"PASSWORD\"}}"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 11
      request:
        host: identitystore.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSIdentityStore.ListMfaDevicesForUser
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"MfaDevices":[{"DeviceId":"m-bob","DeviceType":"TOTP"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
[...]
