---
# Same Identity Center listing as testdata/aws_identity_center.yaml, then
# LookupEvents and ListMfaDevicesForUser are denied. Store users must
# still be returned with MFA and last login unknown.
version: 2
interactions:
    - id: 0
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListInstances
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Instances":[{"InstanceArn":"arn:aws:sso:::instance/ssoins-example","IdentityStoreId":"d-1234567890"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListPermissionSets
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"PermissionSets":["arn:aws:sso:::permissionSet/ssoins-example/ps-admin","arn:aws:sso:::permissionSet/ssoins-example/ps-readonly"]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.DescribePermissionSet
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"PermissionSet":{"Name":"AdministratorAccess","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-example/ps-admin"}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 4
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListManagedPoliciesInPermissionSet
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"AttachedManagedPolicies":[{"Name":"ReadOnlyAccess","Arn":"arn:aws:iam::aws:policy/ReadOnlyAccess"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 5
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListAccountAssignments
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"AccountAssignments":[{"AccountId":"123456789012","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-example/ps-admin","PrincipalId":"11111111-1111-1111-1111-111111111111","PrincipalType":"USER"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 7
      request:
        host: identitystore.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSIdentityStore.DescribeGroup
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"GroupId":"44444444-4444-4444-4444-444444444444","IdentityStoreId":"d-1234567890","DisplayName":"Engineers"}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 8
      request:
        host: identitystore.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSIdentityStore.ListGroupMemberships
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"GroupMemberships":[{"IdentityStoreId":"d-1234567890","GroupId":"44444444-4444-4444-4444-444444444444","MemberId":{"UserId":"22222222-2222-2222-2222-222222222222"}}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 9
      request:
        host: identitystore.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSIdentityStore.ListUsers
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Users":[{"UserId":"11111111-1111-1111-1111-111111111111","IdentityStoreId":"d-1234567890","UserName":"bob","DisplayName":"Bob Admin","Title":"Security Lead","UserStatus":"ENABLED","CreatedAt":1767225600,"Emails":[{"Primary":true,"Value":"bob@example.com"}]},{"UserId":"22222222-2222-2222-2222-222222222222","IdentityStoreId":"d-1234567890","UserName":"carol@example.com","DisplayName":"Carol Engineer","UserStatus":"ENABLED"},{"UserId":"33333333-3333-3333-3333-333333333333","IdentityStoreId":"d-1234567890","UserName":"dave","DisplayName":"Dave Unused","Emails":[{"Primary":true,"Value":"dave@example.com"}]}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 10
      request:
        host: cloudtrail.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - CloudTrail_20131101.LookupEvents
        url: https://cloudtrail.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"__type":"AccessDeniedException","Message":"not authorized to perform cloudtrail:LookupEvents"}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Errortype:
                - AccessDeniedException
        status: 400 Bad Request
        code: 400
        duration: 1ms
[...]
