---
# Hand-authored name-resolution cassette. GetAccountInformation returns no
# name so the resolver falls through to iam:ListAccountAliases.
version: 2
interactions:
    - id: 0
      request:
        host: account.us-east-1.amazonaws.com
        url: https://account.us-east-1.amazonaws.com/getAccountInformation
        method: POST
      response:
        body: '{"AccountId":"123456789012","AccountState":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: iam.amazonaws.com
        form:
            Action:
                - ListAccountAliases
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: '<ListAccountAliasesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/"><ListAccountAliasesResult><AccountAliases><member>acme-alias</member></AccountAliases><IsTruncated>false</IsTruncated></ListAccountAliasesResult></ListAccountAliasesResponse>'
        headers:
            Content-Type:
                - text/xml
        status: 200 OK
        code: 200
        duration: 1ms
