---
# IAM identities of testdata/aws.yaml, then ListInstances returns an
# instance and ListPermissionSets is denied. ListAccounts must keep the
# IAM users instead of aborting the fetch.
version: 2
interactions:
    - id: 0
      request:
        host: iam.amazonaws.com
        form:
            Action:
                - GetAccountAuthorizationDetails
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: '<GetAccountAuthorizationDetailsResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/"><GetAccountAuthorizationDetailsResult><UserDetailList><member><Path>/</Path><UserName>alice</UserName><UserId>AIDAEXAMPLEALICE</UserId><Arn>arn:aws:iam::123456789012:user/alice</Arn><CreateDate>2026-01-02T03:04:05Z</CreateDate><GroupList><member>Admins</member></GroupList><AttachedManagedPolicies><member><PolicyName>AdministratorAccess</PolicyName><PolicyArn>arn:aws:iam::aws:policy/AdministratorAccess</PolicyArn></member></AttachedManagedPolicies></member><member><Path>/</Path><UserName>ci-deploy</UserName><UserId>AIDAEXAMPLECICD</UserId><Arn>arn:aws:iam::123456789012:user/ci-deploy</Arn><CreateDate>2026-02-01T00:00:00Z</CreateDate><UserPolicyList><member><PolicyName>deploy</PolicyName></member></UserPolicyList></member></UserDetailList><GroupDetailList><member><Path>/</Path><GroupName>Admins</GroupName><GroupId>AGPAEXAMPLEADMIN</GroupId><Arn>arn:aws:iam::123456789012:group/Admins</Arn><CreateDate>2026-01-01T00:00:00Z</CreateDate><AttachedManagedPolicies><member><PolicyName>AdministratorAccess</PolicyName><PolicyArn>arn:aws:iam::aws:policy/AdministratorAccess</PolicyArn></member></AttachedManagedPolicies></member></GroupDetailList><IsTruncated>false</IsTruncated></GetAccountAuthorizationDetailsResult></GetAccountAuthorizationDetailsResponse>'
        headers:
            Content-Type:
                - text/xml
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: iam.amazonaws.com
        form:
            Action:
                - GenerateCredentialReport
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: '<GenerateCredentialReportResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/"><GenerateCredentialReportResult><State>COMPLETE</State></GenerateCredentialReportResult></GenerateCredentialReportResponse>'
        headers:
            Content-Type:
                - text/xml
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: iam.amazonaws.com
        form:
            Action:
                - GetCredentialReport
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: '<GetCredentialReportResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/"><GetCredentialReportResult><Content>dXNlcixhcm4sdXNlcl9jcmVhdGlvbl90aW1lLHBhc3N3b3JkX2VuYWJsZWQscGFzc3dvcmRfbGFzdF91c2VkLG1mYV9hY3RpdmUsYWNjZXNzX2tleV8xX2FjdGl2ZSxhY2Nlc3Nfa2V5XzJfYWN0aXZlLGFjY2Vzc19rZXlfMV9sYXN0X3VzZWRfZGF0ZSxhY2Nlc3Nfa2V5XzJfbGFzdF91c2VkX2RhdGUKPHJvb3RfYWNjb3VudD4sYXJuOmF3czppYW06OjEyMzQ1Njc4OTAxMjpyb290LDIwMjAtMDEtMDFUMDA6MDA6MDBaLHRydWUsMjAyNi0wMy0wNFQwNTowNjowN1osZmFsc2UsdHJ1ZSxmYWxzZSxOL0EsTi9BCmFsaWNlLGFybjphd3M6aWFtOjoxMjM0NTY3ODkwMTI6dXNlci9hbGljZSwyMDI2LTAxLTAyVDAzOjA0OjA1Wix0cnVlLDIwMjYtMDYtMDFUMDA6MDA6MDBaLHRydWUsZmFsc2UsZmFsc2UsTi9BLE4vQQpjaS1kZXBsb3ksYXJuOmF3czppYW06OjEyMzQ1Njc4OTAxMjp1c2VyL2NpLWRlcGxveSwyMDI2LTAyLTAxVDAwOjAwOjAwWixmYWxzZSxOL0EsZmFsc2UsdHJ1ZSxmYWxzZSwyMDI2LTA1LTAxVDEyOjAwOjAwWixOL0EK</Content><ReportFormat>text/csv</ReportFormat><GeneratedTime>2026-06-01T00:00:00Z</GeneratedTime></GetCredentialReportResult></GetCredentialReportResponse>'
        headers:
            Content-Type:
                - text/xml
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 3
      request:
        host: organizations.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - AWSOrganizationsV20161128.DescribeAccount
        url: https://organizations.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Account":{"Id":"123456789012","Arn":"arn:aws:organizations::123456789012:account/o-example/123456789012","Email":"root@example.com","Name":"acme-prod","Status":"ACTIVE"}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 4
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListInstances
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Instances":[{"InstanceArn":"arn:aws:sso:::instance/ssoins-example","IdentityStoreId":"d-1234567890"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 5
      request:
        host: sso.us-east-1.amazonaws.com
        headers:
            X-Amz-Target:
                - SWBExternalService.ListPermissionSets
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"__type":"AccessDeniedException","Message":"not authorized to perform sso:ListPermissionSets"}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Errortype:
                - AccessDeniedException
        status: 400 Bad Request
        code: 400
        duration: 1ms
