---
# Hand-authored. A management-group custom role is visible in the
# subscription-scope role-definition list, so ListAccounts keeps the name.
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        url: https://management.azure.com/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleAssignments
        method: GET
      response:
        body: '{"value":[{"properties":{"principalId":"22222222-2222-4222-8222-222222222222","principalType":"User","roleDefinitionId":"/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}},{"properties":{"principalId":"88888888-8888-4888-8888-888888888888","principalType":"User","roleDefinitionId":"/providers/Microsoft.Management/managementGroups/contoso/providers/Microsoft.Authorization/roleDefinitions/bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: management.azure.com
        url: https://management.azure.com/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions
        method: GET
      response:
        body: '{"value":[{"name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635","properties":{"roleName":"Owner"}},{"name":"bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb","properties":{"roleName":"Landing Zone Auditor"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: graph.microsoft.com
        url: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
        method: POST
      response:
        body: '{"value":[{"@odata.type":"#microsoft.graph.user","id":"22222222-2222-4222-8222-222222222222","displayName":"Alice Chen","mail":"alice@probo-azure.test","userPrincipalName":"alice@probo-azure.test","accountEnabled":true},{"@odata.type":"#microsoft.graph.user","id":"88888888-8888-4888-8888-888888888888","displayName":"Morgan Lee","mail":"morgan@probo-azure.test","userPrincipalName":"morgan@probo-azure.test","accountEnabled":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
