---
# Hand-authored Azure Government cassette. Never recorded against a live tenant.
# Proves the session dials management.usgovcloudapi.net and graph.microsoft.us.
version: 2
interactions:
    - id: 0
      request:
        host: management.usgovcloudapi.net
        url: https://management.usgovcloudapi.net/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleAssignments
        method: GET
      response:
        body: '{"value":[{"properties":{"principalId":"22222222-2222-4222-8222-222222222222","principalType":"User","roleDefinitionId":"/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: management.usgovcloudapi.net
        url: https://management.usgovcloudapi.net/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions
        method: GET
      response:
        body: '{"value":[{"name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635","properties":{"roleName":"Owner"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: graph.microsoft.us
        url: https://graph.microsoft.us/v1.0/directoryObjects/getByIds
        method: POST
      response:
        body: '{"value":[{"@odata.type":"#microsoft.graph.user","id":"22222222-2222-4222-8222-222222222222","displayName":"Alice Chen","mail":"alice@probo-azure.test","userPrincipalName":"alice@probo-azure.test","accountEnabled":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 3
      request:
        host: graph.microsoft.us
        url: "https://graph.microsoft.us/v1.0/users"
        method: GET
      response:
        body: '{"value":[{"id":"22222222-2222-4222-8222-222222222222","signInActivity":{"lastSuccessfulSignInDateTime":"2026-08-15T12:00:00Z"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 4
      request:
        host: graph.microsoft.us
        url: https://graph.microsoft.us/v1.0/reports/authenticationMethods/userRegistrationDetails
        method: GET
      response:
        body: '{"value":[{"id":"22222222-2222-4222-8222-222222222222","isMfaCapable":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
