---
# Hand-authored Azure public-cloud cassette. Never recorded against a live tenant.
# Role assignments at subscription scope, role-definition list, Graph
# getByIds, then signInActivity and userRegistrationDetails for alice.
# Synthetic principals: alice (Owner user), eng (Reader group), ci (custom-role
# disabled service principal), build-agent (Contributor device, unresolved in Graph).
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        url: https://management.azure.com/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleAssignments
        method: GET
      response:
        body: '{"value":[{"properties":{"principalId":"22222222-2222-4222-8222-222222222222","principalType":"User","roleDefinitionId":"/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}},{"properties":{"principalId":"33333333-3333-4333-8333-333333333333","principalType":"Group","roleDefinitionId":"/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7"}},{"properties":{"principalId":"44444444-4444-4444-8444-444444444444","principalType":"ServicePrincipal","roleDefinitionId":"/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions/aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa"}},{"properties":{"principalId":"55555555-5555-4555-8555-555555555555","principalType":"Device","roleDefinitionId":"/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: management.azure.com
        url: https://management.azure.com/subscriptions/11111111-1111-4111-8111-111111111111/providers/Microsoft.Authorization/roleDefinitions
        method: GET
      response:
        body: '{"value":[{"name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635","properties":{"roleName":"Owner"}},{"name":"acdd72a7-3385-48ef-bd42-f606fba81ae7","properties":{"roleName":"Reader"}},{"name":"aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa","properties":{"roleName":"Custom Admin"}},{"name":"b24988ac-6180-42a0-ab88-20f7382dd24c","properties":{"roleName":"Contributor"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: graph.microsoft.com
        url: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
        method: POST
      response:
        body: '{"value":[{"@odata.type":"#microsoft.graph.user","id":"22222222-2222-4222-8222-222222222222","displayName":"Alice Chen","mail":"alice@probo-azure.test","userPrincipalName":"alice@probo-azure.test","accountEnabled":true},{"@odata.type":"#microsoft.graph.group","id":"33333333-3333-4333-8333-333333333333","displayName":"Engineering","mail":"eng@probo-azure.test"},{"@odata.type":"#microsoft.graph.servicePrincipal","id":"44444444-4444-4444-8444-444444444444","displayName":"CI Deploy","accountEnabled":false},{"id":"55555555-5555-4555-8555-555555555555"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 6
      request:
        host: graph.microsoft.com
        url: "https://graph.microsoft.com/v1.0/users"
        method: GET
      response:
        body: '{"value":[{"id":"22222222-2222-4222-8222-222222222222","signInActivity":{"lastSuccessfulSignInDateTime":"2026-08-15T12:00:00Z","lastSignInDateTime":"2026-07-01T00:00:00Z"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 7
      request:
        host: graph.microsoft.com
        url: https://graph.microsoft.com/v1.0/reports/authenticationMethods/userRegistrationDetails
        method: GET
      response:
        body: '{"value":[{"id":"22222222-2222-4222-8222-222222222222","isMfaCapable":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
