---
# Hand-authored. $filter=id in with signInActivity is rejected; $batch
# returns alice. Call order is the contract.
version: 2
interactions:
    - id: 0
      request:
        host: graph.microsoft.com
        url: "https://graph.microsoft.com/v1.0/users"
        method: GET
      response:
        body: '{"error":{"code":"Request_UnsupportedQuery","message":"unsupported"}}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 1ms
    - id: 1
      request:
        host: graph.microsoft.com
        url: https://graph.microsoft.com/v1.0/$batch
        method: POST
      response:
        body: '{"responses":[{"id":"1","status":200,"body":{"id":"22222222-2222-4222-8222-222222222222","signInActivity":{"lastSuccessfulSignInDateTime":"2026-08-15T12:00:00Z"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
