---
# Hand-authored. lastSuccessfulSignInDateTime plus MFA for alice. The group
# and service principal are never queried. Call order is the contract.
version: 2
interactions:
    - id: 0
      request:
        host: graph.microsoft.com
        url: "https://graph.microsoft.com/v1.0/users"
        method: GET
      response:
        body: '{"value":[{"id":"22222222-2222-4222-8222-222222222222","signInActivity":{"lastSuccessfulSignInDateTime":"2026-08-15T12:00:00Z","lastSignInDateTime":"2026-07-01T00:00:00Z"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: graph.microsoft.com
        url: https://graph.microsoft.com/v1.0/reports/authenticationMethods/userRegistrationDetails
        method: GET
      response:
        body: '{"value":[{"id":"22222222-2222-4222-8222-222222222222","isMfaCapable":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
