---
# Hand-authored. Sign-in activity refused for a non-premium tenant. MFA
# still runs. Call order is the contract.
version: 2
interactions:
    - id: 0
      request:
        host: graph.microsoft.com
        url: "https://graph.microsoft.com/v1.0/users"
        method: GET
      response:
        body: '{"error":{"code":"Authentication_RequestFromNonPremiumTenantOrB2CTenant","message":"no premium license"}}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 1ms
    - id: 1
      request:
        host: graph.microsoft.com
        url: https://graph.microsoft.com/v1.0/reports/authenticationMethods/userRegistrationDetails
        method: GET
      response:
        body: '{"value":[{"id":"22222222-2222-4222-8222-222222222222","isMfaCapable":true}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
