---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        form:
            fields:
                - "+values.user.email"
            pagelen:
                - "100"
        headers:
        url: https://api.bitbucket.org/2.0/workspaces/acme/members?fields=%2Bvalues.user.email&pagelen=100
        method: GET
      response:
        body: '{"values":[{"user":{"account_id":"557058:abc-123","display_name":"Jane Doe","nickname":"jane","email":"jane@example.com"}},{"user":{"account_id":"557058:def-456","display_name":"Bob Smith","nickname":"bsmith","email":""}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
