---
# Hand-authored K7 fixture matching Cal.com's published v2 response schemas.
# Synthetic IDs and identities only.
version: 2
interactions:
    - id: 0
      request:
        host: api.cal.com
        form: {}
        headers:
        url: https://api.cal.com/v2/me
        method: GET
      response:
        body: '{"status":"success","data":{"id":100,"name":"K7 Owner","email":"owner@example.com","organizationId":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
    - id: 1
      request:
        host: api.cal.com
        form: {}
        headers:
        url: https://api.cal.com/v2/teams
        method: GET
      response:
        body: '{"status":"success","data":[{"id":7,"name":"K7"},{"id":9,"name":"K7 Security"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
    - id: 2
      request:
        host: api.cal.com
        form:
            skip:
                - "0"
            take:
                - "250"
        headers:
        url: https://api.cal.com/v2/teams/7/memberships?skip=0&take=250
        method: GET
      response:
        body: '{"status":"success","data":[{"userId":100,"accepted":false,"role":"MEMBER","user":{"name":"Shared User","email":"shared@example.com"}},{"userId":101,"accepted":true,"role":"MEMBER","user":{"name":"Team Seven User","email":"seven@example.com"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
[...]
