---
# Hand-authored K7 fixture matching Calendly's published v2 response schemas.
# Synthetic resource IDs and identities only.
version: 2
interactions:
    - id: 0
      request:
        host: api.calendly.com
        form: {}
        headers:
        url: https://api.calendly.com/users/me
        method: GET
      response:
        body: '{"resource":{"uri":"https://api.calendly.com/users/K7OWNER","name":"K7 Owner","email":"owner@example.com","current_organization":"https://api.calendly.com/organizations/K7"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
    - id: 1
      request:
        host: api.calendly.com
        form:
            count:
                - "100"
            organization:
                - https://api.calendly.com/organizations/K7
        headers:
        url: https://api.calendly.com/organization_memberships?count=100&organization=https%3A%2F%2Fapi.calendly.com%2Forganizations%2FK7
        method: GET
      response:
        body: '{"collection":[{"uri":"https://api.calendly.com/organization_memberships/M1","role":"owner","user":"https://api.calendly.com/users/U1","created_at":"2026-01-01T00:00:00Z"}],"pagination":{"next_page_token":"next"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
    - id: 2
      request:
        host: api.calendly.com
        form: {}
        headers:
        url: https://api.calendly.com/users/U1
        method: GET
      response:
        body: '{"resource":{"uri":"https://api.calendly.com/users/U1","name":"Owner User","email":"owner@example.com","created_at":"2026-01-02T03:04:05Z"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
    - id: 3
      request:
        host: api.calendly.com
        form:
            count:
                - "100"
            organization:
                - https://api.calendly.com/organizations/K7
            page_token:
                - next
        headers:
        url: https://api.calendly.com/organization_memberships?count=100&organization=https%3A%2F%2Fapi.calendly.com%2Forganizations%2FK7&page_token=next
        method: GET
      response:
        body: '{"collection":[{"uri":"https://api.calendly.com/organization_memberships/M2","role":"user","user":"https://api.calendly.com/users/U2","created_at":"2026-02-03T04:05:06Z"}],"pagination":{"next_page_token":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
[...]
