---
version: 2
interactions:
    - id: 0
      request:
        host: api.crisp.chat
        headers:
            X-Crisp-Tier:
                - plugin
        url: https://api.crisp.chat/v1/website/1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d/operators/list
        method: GET
      response:
        body: '{"data":[{"details":{"availability":"online","avatar":null,"email":"operator1@example.com","first_name":"Operator1","has_token":false,"last_name":"Number1","role":"owner","title":null,"user_id":"crisp-user-1"},"type":"operator"},{"details":{"email":"operator2@example.com","first_name":"Operator2","last_name":"Number2","user_id":"crisp-user-2"},"type":"sandbox"}],"error":false,"reason":"listed"}'
        headers:
            Bloom-Status:
                - MISS
            Content-Type:
                - application/json
            Etag:
                - W/"3665314ef6f72a02"
            X-Crisp-Ray:
                - (w/1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d) 10.133.11.19:3040
        status: 200 OK
        code: 200
        duration: 241.948334ms
