---
version: 2
interactions:
    - id: 0
      request:
        host: api.letsdeel.com
        form:
            limit:
                - "100"
            offset:
                - "0"
        headers:
        url: https://api.letsdeel.com/rest/v2/people?limit=100&offset=0
        method: GET
      response:
        body: '{"data":[{"id":"d_jane","email":"jane@example.com","first_name":"Jane","last_name":"Doe","job_title":"Engineering Lead","hiring_status":"active","start_date":"2024-06-01","end_date":""},{"id":"d_bob","email":"bob@example.com","first_name":"Bob","last_name":"Smith","job_title":"Designer","hiring_status":"inactive","start_date":"2023-01-15","end_date":"2025-09-30"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
