---
# Hand-authored cassette for GET /v1/users (Dotfile, X-DOTFILE-API-KEY header,
# stripped by the recorder). include_suspended=true returns active and suspended
# users in one page; count=3 terminates pagination. Three synthetic users cover
# owner/admin/member and active vs suspended (suspended_at set → inactive). The
# User shape (id, first_name, last_name, email, role, created_at, suspended_at)
# mirrors the documented schema.
version: 2
interactions:
    - id: 0
      request:
        host: api.dotfile.com
        form:
            include_suspended:
                - "true"
            limit:
                - "100"
            page:
                - "1"
        headers:
        url: https://api.dotfile.com/v1/users?include_suspended=true&limit=100&page=1
        method: GET
      response:
        body: '{"data":[{"id":"a1b2c3d4-0000-4000-8000-000000000001","first_name":"Alice","last_name":"Martin","email":"alice.martin@example.com","role":"owner","created_at":"2023-01-31T13:30:00.000Z","suspended_at":null},{"id":"a1b2c3d4-0000-4000-8000-000000000002","first_name":"Bob","last_name":"Durand","email":"bob.durand@example.com","role":"admin","created_at":"2023-02-15T09:00:00.000Z","suspended_at":null},{"id":"a1b2c3d4-0000-4000-8000-000000000003","first_name":"Carla","last_name":"Petit","email":"carla.petit@example.com","role":"member","created_at":"2023-03-01T11:45:00.000Z","suspended_at":"2024-12-11T08:00:00.000Z"}],"pagination":{"page":1,"limit":100,"count":3}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
