---
version: 2
interactions:
    - id: 0
      request:
        host: api.elastic-cloud.com
        headers:
        url: https://api.elastic-cloud.com/api/v1/organizations/org-example/members
        method: GET
      response:
        body: '{"members":[{"email":"member1@example.com","member_since":"2024-01-02T03:04:05Z","name":"Member 1","organization_id":"org-example","role_assignments":{"organization":[{"organization_id":"org-example","role_id":"organization-admin"}]},"user_id":"ec-user-1"}]}'
        headers:
            Content-Type:
                - application/json
            X-Elastic-Api-Key-Expiration:
                - "2026-10-01T10:06:56.959Z"
        status: 200 OK
        code: 200
        duration: 314.491262ms
