---
version: 2
interactions:
    - id: 0
      request:
        host: api.elevenlabs.io
        headers:
        url: https://api.elevenlabs.io/v1/workspace/members
        method: GET
      response:
        body: '[{"email":"member1@example.com","first_name":"Member1","is_locked":false,"is_owner":true,"seat_type":"workspace_admin","user_id":"user_00000001"}]'
        headers:
            Content-Type:
                - application/json
            X-Region:
                - us-central1
            X-Trace-Id:
                - a8aac13f78c46bc1eaf583845265ac58
        status: 200 OK
        code: 200
        duration: 444.968583ms
