---
# Hand-authored. projects.get succeeds with no display name; resolver
# uses the connected project's projectId, not the service-account email.
version: 2
interactions:
    - id: 0
      request:
        host: cloudresourcemanager.googleapis.com
        url: https://cloudresourcemanager.googleapis.com/v1/projects/123456789012
        method: GET
      response:
        body: '{"projectNumber":"123456789012","projectId":"connected-project","name":"","lifecycleState":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
