---
# Policy Analyzer last-auth is denied, so Admin Activity covers users and
# service accounts. Directory MFA for alice still succeeds. Call order is
# the contract.
version: 2
interactions:
    - id: 0
      request:
        host: policyanalyzer.googleapis.com
        url: https://policyanalyzer.googleapis.com/v1/projects/123456789012/locations/global/activityTypes/serviceAccountLastAuthentication/activities:query
        method: GET
      response:
        body: '{"error":{"code":403,"message":"The caller does not have permission","status":"PERMISSION_DENIED"}}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 1ms
    - id: 1
      request:
        host: logging.googleapis.com
        url: https://logging.googleapis.com/v2/entries:list
        method: POST
      response:
        body: '{"entries":[{"timestamp":"2026-08-15T12:00:00Z","protoPayload":{"authenticationInfo":{"principalEmail":"alice@example.com"}}},{"timestamp":"2026-07-01T00:00:00Z","protoPayload":{"authenticationInfo":{"principalEmail":"sa@my-project.iam.gserviceaccount.com"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: admin.googleapis.com
        url: https://admin.googleapis.com/admin/directory/v1/users/alice@example.com
        method: GET
      response:
        body: '{"primaryEmail":"alice@example.com","isEnrolledIn2Sv":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
