---
# Hand-authored. getIamPolicy 403 must fail the fetch.
version: 2
interactions:
    - id: 0
      request:
        host: cloudresourcemanager.googleapis.com
        url: https://cloudresourcemanager.googleapis.com/v1/projects/123456789012:getIamPolicy
        method: POST
      response:
        body: '{"error":{"code":403,"message":"Permission denied","status":"PERMISSION_DENIED"}}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 1ms
