---
# Hand-authored. projects.get returns a display name.
version: 2
interactions:
    - id: 0
      request:
        host: cloudresourcemanager.googleapis.com
        url: https://cloudresourcemanager.googleapis.com/v1/projects/123456789012
        method: GET
      response:
        body: '{"projectNumber":"123456789012","projectId":"my-project","name":"Acme Prod","lifecycleState":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
