---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        form:
            per_page:
                - "100"
        headers:
        url: https://gitlab.com/api/v4/groups/12345/members/all?per_page=100
        method: GET
      response:
        body: '[{"id":1000001,"username":"jane.doe","name":"Jane Doe","email":"jane@example.com","state":"active","access_level":50},{"id":1000002,"username":"bob.smith","name":"Bob Smith","email":"bob@example.com","state":"active","access_level":30},{"id":1000003,"username":"alice","name":"Alice","email":null,"state":"blocked","access_level":10}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
