---
version: 2
interactions:
    - id: 0
      request:
        host: api.hubapi.com
        headers:
        url: https://api.hubapi.com/settings/v3/users/roles
        method: GET
      response:
        body: '{"status":"error","message":"Account doesn''t have access to roles.","correlationId":"019d2a35-7d8f-7ae2-bbf6-6342ceb0b095","category":"VALIDATION_ERROR"}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Hubspot-Correlation-Id:
                - 019d2a35-7d8f-7ae2-bbf6-6342ceb0b095
            X-Hubspot-Ratelimit-Daily:
                - "250000"
            X-Hubspot-Ratelimit-Daily-Remaining:
                - "249999"
            X-Hubspot-Ratelimit-Interval-Milliseconds:
                - "10000"
            X-Hubspot-Ratelimit-Max:
                - "100"
            X-Hubspot-Ratelimit-Remaining:
                - "99"
            X-Hubspot-Ratelimit-Secondly:
                - "10"
            X-Hubspot-Ratelimit-Secondly-Remaining:
                - "9"
        status: 400 Bad Request
        code: 400
        duration: 260.217958ms
    - id: 1
      request:
        host: api.hubapi.com
        form:
            limit:
                - "100"
        headers:
        url: https://api.hubapi.com/settings/v3/users?limit=100
        method: GET
      response:
        body: '{"results":[{"id":"10000001","email":"john@example.com","firstName":"John","lastName":"Smith","roleIds":[],"superAdmin":true},{"id":"10000002","email":"jane@example.com","firstName":"Jane","lastName":"Doe","roleIds":[],"superAdmin":true}]}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Hubspot-Correlation-Id:
                - 019d2a35-7e38-7d81-a93c-7babb6730cf2
            X-Hubspot-Ratelimit-Daily:
                - "250000"
            X-Hubspot-Ratelimit-Daily-Remaining:
                - "249998"
            X-Hubspot-Ratelimit-Interval-Milliseconds:
                - "10000"
            X-Hubspot-Ratelimit-Max:
                - "100"
            X-Hubspot-Ratelimit-Remaining:
                - "98"
            X-Hubspot-Ratelimit-Secondly:
                - "10"
            X-Hubspot-Ratelimit-Secondly-Remaining:
                - "9"
        status: 200 OK
        code: 200
        duration: 212.332792ms
    - id: 2
      request:
        host: api.hubapi.com
        form:
            archived:
                - "true"
            limit:
                - "100"
        headers:
        url: https://api.hubapi.com/crm/v3/owners?archived=true&limit=100
        method: GET
      response:
        body: '{"results":[]}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
