# Hand-authored cassette: Settings user ID differs from the archived owner's
# userIdIncludingInactive, but emails match (case-insensitive). The driver
# must mark the settings row inactive and must not emit a second archived-only
# row for the same person.
version: 2
interactions:
    - id: 0
      request:
        host: api.hubapi.com
        headers:
        url: https://api.hubapi.com/settings/v3/users/roles
        method: GET
      response:
        body: '{"results":[]}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: api.hubapi.com
        form:
            limit:
                - "100"
        headers:
        url: https://api.hubapi.com/settings/v3/users?limit=100
        method: GET
      response:
        body: '{"results":[{"id":"settings-1","email":"Jane.Doe@example.com","firstName":"Jane","lastName":"Doe","roleIds":[],"superAdmin":true}]}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 2
      request:
        host: api.hubapi.com
        form:
            archived:
                - "true"
            limit:
                - "100"
        headers:
        url: https://api.hubapi.com/crm/v3/owners?archived=true&limit=100
        method: GET
      response:
        body: '{"results":[{"id":"owner-9","email":"jane.doe@example.com","firstName":"","lastName":"","type":"PERSON","archived":true,"userId":null,"userIdIncludingInactive":999}]}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
