---
# Hand-authored fixture for GET /v2/users against an incident.io
# organization. The user object shape (id, name, email, role, base_role,
# custom_roles, slack_user_id) and the {users, pagination_meta} wrapper
# mirror the documented response. Synthetic IDs/emails only.
version: 2
interactions:
    - id: 0
      request:
        host: api.incident.io
        form:
            page_size:
                - "100"
        headers:
        url: https://api.incident.io/v2/users?page_size=100
        method: GET
      response:
        body: '{"users":[{"id":"01ABCOWNER","name":"Lisa Curtis","email":"lisa@example.com","role":"viewer","base_role":{"id":"r1","name":"Owner","slug":"owner"},"custom_roles":[],"slack_user_id":"U01"},{"id":"01DEFRESP","name":"Sam Responder","email":"sam@example.com","role":"responder","base_role":{"id":"r2","name":"Responder","slug":"responder"},"custom_roles":[{"id":"c1","name":"On-call Lead","slug":"on-call-lead"}],"slack_user_id":"U02"},{"id":"01GHIADMIN","name":"","email":"legacy-admin@example.com","role":"administrator","base_role":null,"custom_roles":[],"slack_user_id":""}],"pagination_meta":{"after":"","page_size":100}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150ms
