---
version: 2
interactions:
    - id: 0
      request:
        host: cloud.langfuse.com
        headers:
        url: https://cloud.langfuse.com/api/public/organizations/memberships
        method: GET
      response:
        body: '{"memberships":[{"email":"member1@example.com","name":"Member 1","role":"OWNER","userId":"lf-user-1"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Document-Policy:
                - js-profiling
            Etag:
                - '"77ayt4l0sh3g"'
        status: 200 OK
        code: 200
        duration: 104.309167ms
