---
version: 2
interactions:
    - id: 0
      request:
        host: cloud.mongodb.com
        headers:
        url: https://cloud.mongodb.com/api/atlas/v2/orgs
        method: GET
      response:
        body: '{"links":[{"href":"https://cloud.mongodb.com/api/atlas/v2/orgs?pageNum=1\u0026itemsPerPage=100","rel":"self"}],"results":[{"id":"000000000000000000000001","isDeleted":false,"name":"Example Organization","skipDefaultAlertsSettings":false}],"totalCount":1}'
        headers:
            Content-Type:
                - application/vnd.atlas.2023-01-01+json;charset=utf-8
            Ratelimit-Limit:
                - "300"
            Ratelimit-Remaining:
                - "298"
            X-Mongodb-Service-Version:
                - gitHash=786f08a8b001ebff544b934de1ec7ea3dd43823f; versionString=v20260909
        status: 200 OK
        code: 200
        duration: 402.453084ms
