---
version: 2
interactions:
    - id: 0
      request:
        host: cloud.mongodb.com
        headers:
        url: https://cloud.mongodb.com/api/atlas/v2/orgs
        method: GET
      response:
        body: '{"links":[{"href":"https://cloud.mongodb.com/api/atlas/v2/orgs?pageNum=1\u0026itemsPerPage=100","rel":"self"}],"results":[{"id":"000000000000000000000001","isDeleted":false,"name":"Example Organization","skipDefaultAlertsSettings":false}],"totalCount":1}'
        headers:
            Content-Type:
                - application/vnd.atlas.2023-01-01+json;charset=utf-8
            Ratelimit-Limit:
                - "300"
            Ratelimit-Remaining:
                - "299"
            X-Mongodb-Service-Version:
                - gitHash=786f08a8b001ebff544b934de1ec7ea3dd43823f; versionString=v20260909
        status: 200 OK
        code: 200
        duration: 400.220917ms
    - id: 1
      request:
        host: cloud.mongodb.com
        form:
            itemsPerPage:
                - "500"
            orgMembershipStatuses:
                - ACTIVE
                - PENDING
            pageNum:
                - "1"
        headers:
        url: https://cloud.mongodb.com/api/atlas/v2/orgs/000000000000000000000001/users?itemsPerPage=500&orgMembershipStatuses=ACTIVE&orgMembershipStatuses=PENDING&pageNum=1
        method: GET
      response:
        body: '{"links":[{"href":"https://cloud.mongodb.com/api/atlas/v2/orgs/000000000000000000000001/users?orgMembershipStatuses=ACTIVE\u0026orgMembershipStatuses=PENDING\u0026pageNum=1\u0026itemsPerPage=500","rel":"self"}],"results":[{"country":"","createdAt":"2026-09-14T10:06:54Z","firstName":"Member","id":"000000000000000000000101","lastAuth":"2026-09-14T10:07:31Z","lastName":"One","mobileNumber":"","orgMembershipStatus":"ACTIVE","roles":{"groupRoleAssignments":[{"groupId":"000000000000000000000301","groupRoles":["GROUP_OWNER"]}],"orgRoles":["ORG_OWNER"]},"teamIds":[],"username":"member1@example.com"}],"totalCount":1}'
        headers:
            Content-Type:
                - application/vnd.atlas.2025-02-19+json;charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "499"
            X-Mongodb-Service-Version:
                - gitHash=786f08a8b001ebff544b934de1ec7ea3dd43823f; versionString=v20260909
        status: 200 OK
        code: 200
        duration: 182.33375ms
[...]
    - id: 3
      request:
        host: cloud.mongodb.com
        form:
            itemsPerPage:
                - "500"
            pageNum:
                - "1"
        headers:
        url: https://cloud.mongodb.com/api/atlas/v2/orgs/000000000000000000000001/serviceAccounts?itemsPerPage=500&pageNum=1
        method: GET
      response:
        body: '{"links":[{"href":"https://cloud.mongodb.com/api/atlas/v2/orgs/000000000000000000000001/serviceAccounts?pageNum=1\u0026itemsPerPage=500","rel":"self"}],"results":[{"clientId":"mdb_sa_id_000000000000000000000201","createdAt":"2026-01-01T00:00:00Z","description":"Example service account","isSystemManaged":false,"name":"example-service-account","owner":null,"roles":["ORG_READ_ONLY"],"secrets":[{"createdAt":"2026-01-01T00:00:00Z","expiresAt":"2027-01-01T00:00:00Z","id":"000000000000000000000202","lastUsedAt":"2026-01-02T03:04:05Z","maskedSecretValue":"mdb_sa_sk_...0000"}]}],"totalCount":1}'
        headers:
            Content-Type:
                - application/vnd.atlas.2024-08-05+json;charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "499"
            X-Mongodb-Service-Version:
                - gitHash=786f08a8b001ebff544b934de1ec7ea3dd43823f; versionString=v20260909
        status: 200 OK
        code: 200
        duration: 183.3405ms
[...]
    - id: 5
      request:
        host: cloud.mongodb.com
        form:
            itemsPerPage:
                - "500"
            pageNum:
                - "1"
        headers:
        url: https://cloud.mongodb.com/api/atlas/v2/orgs/000000000000000000000001/apiKeys?itemsPerPage=500&pageNum=1
        method: GET
      response:
        body: '{"links":[{"href":"https://cloud.mongodb.com/api/atlas/v2/orgs/000000000000000000000001/apiKeys?pageNum=1\u0026itemsPerPage=500","rel":"self"}],"results":[],"totalCount":0}'
        headers:
            Content-Type:
                - application/vnd.atlas.2023-01-01+json;charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "499"
            X-Mongodb-Service-Version:
                - gitHash=786f08a8b001ebff544b934de1ec7ea3dd43823f; versionString=v20260909
        status: 200 OK
        code: 200
        duration: 173.609ms
