---
version: 2
interactions:
    - id: 0
      request:
        host: api.eu.newrelic.com
        body: '{"query":"{ actor { organization { name } } }","variables":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.eu.newrelic.com/graphql
        method: POST
      response:
        body: '{"data":{"actor":{"organization":{"name":"Example Organization"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Served-By:
                - nerd-graph
        status: 200 OK
        code: 200
        duration: 1.142970542s
