---
version: 2
interactions:
    - id: 0
      request:
        host: api.eu.newrelic.com
        body: '{"query":"query($domainCursor: String) {\n  actor { organization { userManagement { authenticationDomains(cursor: $domainCursor) {\n    nextCursor\n    authenticationDomains {\n      id\n      name\n      users { nextCursor users { id name email lastActive type { id displayName } } }\n      groups { nextCursor groups { id displayName users { nextCursor users { id } } } }\n    }\n  } } } }\n}","variables":{"domainCursor":null}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.eu.newrelic.com/graphql
        method: POST
      response:
        body: '{"data":{"actor":{"organization":{"userManagement":{"authenticationDomains":{"authenticationDomains":[{"groups":{"groups":[{"displayName":"Admin","id":"group-0001","users":{"nextCursor":null,"users":[{"id":"1000000001"}]}},{"displayName":"User","id":"group-0002","users":{"nextCursor":null,"users":[]}}],"nextCursor":null},"id":"domain-0001","name":"Default","users":{"nextCursor":null,"users":[{"email":"1000000001@example.com","id":"1000000001","lastActive":null,"name":"Member 1000000001","type":{"displayName":"Full platform","id":"0"}}]}}],"nextCursor":null}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Served-By:
                - nerd-graph
        status: 200 OK
        code: 200
        duration: 1.730989s
