---
# Hand-authored cassette for GET /account/user (Nuki Web API, Bearer token,
# stripped by the recorder). The row shape mirrors a live response: `type` is
# omitted entirely for a person (0 is the default and Nuki does not serialise
# it), and `operationId` is absent unless the account user is locked by an
# in-flight operation.
#
# Three synthetic account users cover a person, a company (type=1 -> service
# account), and a row with no name (full name falls back to the email). The
# first page is short but non-empty, so the driver must still request the next
# offset: only the empty second page ends the walk. That second interaction is
# what pins the behaviour.
version: 2
interactions:
    - id: 0
      request:
        host: api.nuki.io
        form:
            limit:
                - "100"
            offset:
                - "0"
        headers:
        url: https://api.nuki.io/account/user?limit=100&offset=0
        method: GET
      response:
        body: '[{"accountUserId":1859620430,"accountId":499103089,"email":"alice.martin@example.com","name":"Alice Martin","language":"en","creationDate":"2025-05-12T14:45:40.629Z","updateDate":"2025-05-12T14:45:40.629Z"},{"accountUserId":718259920,"accountId":499103089,"type":1,"email":"contact@cleaning.example.com","name":"Cleaning Co","language":"nl","creationDate":"2025-05-12T14:48:08.200Z","updateDate":"2025-07-07T12:03:19.321Z"},{"accountUserId":568452711,"accountId":499103089,"email":"nameless@example.com","language":"de","creationDate":"2025-05-12T14:49:13.480Z","updateDate":"2025-05-12T14:49:13.480Z"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
