---
version: 2
interactions:
    - id: 0
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me
        method: GET
      response:
        body: '{"address":"1 Test Street","area":null,"birthCity":null,"birthDay":null,"city":"Testville","companyNationalIdentificationNumber":null,"complementaryAddress":null,"corporationType":null,"country":"FR","currency":{"code":"EUR","symbol":"€"},"customerCode":"0000-0000-00","displayName":null,"einvoicingBillingAddress":null,"email":"owner@example.com","fax":"+33.000000000","firstname":"Ada","italianSDI":null,"kycValidated":true,"language":"en_IE","legalform":"individual","name":"Lovelace","nationalIdentificationNumber":null,"nichandle":"ab1234-ovh","organisation":"Example Ltd","ovhCompany":"ovh","ovhSubsidiary":"IE","phone":"+33.000000000","phoneCountry":"FR","phoneType":"mobile","purposeOfPurchase":null,"sex":null,"spareEmail":"spare@example.com","state":"complete","vat":null,"zip":"00000"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "49211"
            X-Iplb-Request-Id:
                - 53C7FE47:D1ED_8D5FBADF:01BB_6AB2C49E_A1EB8CC:2E5C9B
            X-Ovh-Queryid:
                - EU.ext-1.6ab2c49e.2579093.7f94fb208787a5f74bf0ce1e3993b0f4
        status: 200 OK
        code: 200
        duration: 108.472792ms
