---
version: 2
interactions:
    - id: 0
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/identity/group
        method: GET
      response:
        body: '["ADMIN","DEFAULT","UNPRIVILEGED"]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B1_1752A7:2233C2
            X-Ovh-Queryid:
                - EU.ext-3.6ab7a4b1.3172118.8e3f82136f0c68f05c860767d5105ffd
        status: 200 OK
        code: 200
        duration: 93.636458ms
    - id: 1
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/identity/group/ADMIN
        method: GET
      response:
        body: '{"creation":"2026-09-26T10:55:45.907142282Z","defaultGroup":true,"description":"Default Group with ADMIN role","lastUpdate":"2026-09-26T10:55:45.907142655Z","name":"ADMIN","role":"ADMIN","urn":"urn:v1:eu:identity:group:ab1234-ovh/ADMIN"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B1_1752CB:2233C2
            X-Ovh-Queryid:
                - EU.ext-5.6ab7a4b1.600086.1b5e05e3c8b4a0348d8a44fb1fe41424
        status: 200 OK
        code: 200
        duration: 24.707458ms
    - id: 2
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/identity/group/DEFAULT
        method: GET
      response:
        body: '{"creation":"2026-09-26T10:55:45.9336064Z","defaultGroup":true,"description":"Default Group with REGULAR role","lastUpdate":"2026-09-26T10:55:45.933606579Z","name":"DEFAULT","role":"REGULAR","urn":"urn:v1:eu:identity:group:ab1234-ovh/DEFAULT"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B1_1752D4:2233C2
            X-Ovh-Queryid:
                - EU.ext-5.6ab7a4b1.600086.4366ed15482ed69896e472945625963c
        status: 200 OK
        code: 200
        duration: 24.598625ms
    - id: 3
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/identity/group/UNPRIVILEGED
        method: GET
      response:
        body: '{"creation":"2026-09-26T10:55:45.972880639Z","defaultGroup":true,"description":"Default group with UNPRIVILEGED role","lastUpdate":"2026-09-26T10:55:45.972880809Z","name":"UNPRIVILEGED","role":"UNPRIVILEGED","urn":"urn:v1:eu:identity:group:ab1234-ovh/UNPRIVILEGED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B1_1752E4:2233C2
            X-Ovh-Queryid:
                - EU.ext-4.6ab7a4b1.630041.f1b1543ac775d12ba5e65d105bd19ed3
        status: 200 OK
        code: 200
        duration: 38.084458ms
    - id: 4
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/logs/audit
        method: GET
      response:
        body: '[{"authDetails":null,"createdAt":"2026-09-22T12:44:38.715Z","ip":"203.0.113.1","type":"ACCOUNT_PASSWORD_CHANGED"},{"authDetails":{"userDetails":{"type":"ACCOUNT","user":null}},"createdAt":"2026-09-22T13:07:22.771Z","ip":"203.0.113.1","policyCreatedDetails":{"added":{"identities":["urn:v1:eu:identity:credential:ab1234-ovh/oauth2-EU.0000000000000000"],"resources":[]},"new":{"description":"Read-only access for the Probo access-review connector: account, identities, groups, audit logs.","name":"probo-access-review-read"},"policyId":"c8d48b40-095f-4f79-9970-2fe5913846bd","policyName":"probo-access-review-read"},"type":"POLICY_CREATED"},{"authDetails":{"userDetails":{"type":"ACCOUNT","user":null}},"createdAt":"2026-09-22T13:08:56.424Z","ip":"203.0.113.1","policyModifiedDetails":{"added":{"identities":null,"resources":["urn:v1:eu:resource:account:ab1234-ovh"]},"new":{"description":"Read-only access for the Probo access-review connector: account, identities, groups, audit logs.","name":"probo-access-review-read"},"old":{"description":"Read-only access for the Probo access-review connector: account, identities, groups, audit logs.","name":"probo-access-review-read"},"policyId":"c8d48b40-095f-4f79-9970-2fe5913846bd","policyName":"probo-access-review-read"},"type":"POLICY_MODIFIED"},{"authDetails":{"userDetails":{"type":"ACCOUNT","user":null}},"createdAt":"2026-09-22T13:11:14.814Z","ip":"203.0.113.1","policyModifiedDetails":{"new":{"description":"Read-only access for the Probo access-review connector: account, id[...]
    - id: 5
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/identity/user
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B2_17530F:2233C2
            X-Ovh-Queryid:
                - EU.ext-5.6ab7a4b2.600086.d98891a3a7e3ab8ae7f896a8437911ea
        status: 200 OK
        code: 200
        duration: 27.116666ms
    - id: 6
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/api/oauth2/client
        method: GET
      response:
        body: '["EU.0000000000000000","EU.1111111111111111","EU.2222222222222222","EU.3333333333333333"]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B2_175323:2233C2
            X-Ovh-Queryid:
                - EU.ext-1.6ab7a4b2.762403.f1830778e1572d0e72dc0b59a9cfbd20
        status: 200 OK
        code: 200
        duration: 32.049958ms
    - id: 7
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/api/oauth2/client/EU.1111111111111111
        method: GET
      response:
        body: '{"callbackUrls":["https://localhost:8080/api/console/v1/connectors/complete"],"clientId":"EU.1111111111111111","createdAt":"2026-09-22T17:45:32.533Z","description":"Probo access-review connector, OAuth2 auth-code (dev / local)","flow":"AUTHORIZATION_CODE","identity":null,"name":"probo-connector-oauth-dev"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B2_17533A:2233C2
            X-Ovh-Queryid:
                - EU.ext-5.6ab7a4b2.600086.bbb11416d073b9caa61338d7fc694470
        status: 200 OK
        code: 200
        duration: 20.584584ms
[...]
    - id: 11
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me
        method: GET
      response:
        body: '{"address":"1 Test Street","area":null,"birthCity":null,"birthDay":null,"city":"Testville","companyNationalIdentificationNumber":null,"complementaryAddress":null,"corporationType":null,"country":"FR","currency":{"code":"EUR","symbol":"€"},"customerCode":"0000-0000-00","displayName":null,"einvoicingBillingAddress":null,"email":"owner@example.com","fax":"+33.000000000","firstname":"Ada","italianSDI":null,"kycValidated":true,"language":"en_IE","legalform":"individual","name":"Lovelace","nationalIdentificationNumber":null,"nichandle":"ab1234-ovh","organisation":"Example Ltd","ovhCompany":"ovh","ovhSubsidiary":"IE","phone":"+33.000000000","phoneCountry":"FR","phoneType":"mobile","purposeOfPurchase":null,"sex":null,"spareEmail":"spare@example.com","state":"complete","vat":null,"zip":"00000"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B2_175345:2233C2
            X-Ovh-Queryid:
                - EU.ext-3.6ab7a4b2.3172118.8e6588284c5044792f9fea77944990a7
        status: 200 OK
        code: 200
        duration: 25.214959ms
    - id: 12
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/api/credential
        method: GET
      response:
        body: '[635061199]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B2_17535F:2233C2
            X-Ovh-Queryid:
                - EU.ext-5.6ab7a4b2.600086.4b980a9a7dd918e423205e925c0cb7f2
        status: 200 OK
        code: 200
        duration: 31.026959ms
    - id: 13
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/api/application
        method: GET
      response:
        body: '[473684]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B2_17536F:2233C2
            X-Ovh-Queryid:
                - EU.ext-2.6ab7a4b2.2221206.d0201a1c3e75e7e9df50992cbf60b124
        status: 200 OK
        code: 200
        duration: 27.94325ms
    - id: 14
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/api/application/473684
        method: GET
      response:
        body: '{"applicationId":473684,"applicationKey":"0000000000000000","description":"test","name":"test","status":"active"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B2_175384:2233C2
            X-Ovh-Queryid:
                - EU.ext-5.6ab7a4b2.600086.f0226bc19084e5883ac82decfc13f699
        status: 200 OK
        code: 200
        duration: 25.579958ms
    - id: 15
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me/api/credential/635061199
        method: GET
      response:
        body: '{"allowedIPs":null,"applicationId":473684,"creation":"2026-09-26T12:51:08+02:00","credentialId":635061199,"expiration":"2026-09-27T12:51:08+02:00","lastUse":null,"ovhSupport":false,"rules":[{"method":"GET","path":""},{"method":"PUT","path":""}],"status":"validated"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B2_175395:2233C2
            X-Ovh-Queryid:
                - EU.ext-2.6ab7a4b2.2221206.884d7dfc89ad0d8958a23b7a7cccf184
        status: 200 OK
        code: 200
        duration: 28.420417ms
