---
version: 2
interactions:
    - id: 0
      request:
        host: eu.api.ovh.com
        headers:
        url: https://eu.api.ovh.com/1.0/me
        method: GET
      response:
        body: '{"address":"1 Test Street","area":null,"birthCity":null,"birthDay":null,"city":"Testville","companyNationalIdentificationNumber":null,"complementaryAddress":null,"corporationType":null,"country":"FR","currency":{"code":"EUR","symbol":"€"},"customerCode":"0000-0000-00","displayName":null,"einvoicingBillingAddress":null,"email":"owner@example.com","fax":"+33.000000000","firstname":"Ada","italianSDI":null,"kycValidated":true,"language":"en_IE","legalform":"individual","name":"Lovelace","nationalIdentificationNumber":null,"nichandle":"ab1234-ovh","organisation":"Example Ltd","ovhCompany":"ovh","ovhSubsidiary":"IE","phone":"+33.000000000","phoneCountry":"FR","phoneType":"mobile","purposeOfPurchase":null,"sex":null,"spareEmail":"spare@example.com","state":"complete","vat":null,"zip":"00000"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Iplb-Instance:
                - "47055"
            X-Iplb-Request-Id:
                - 53C7FE47:DB9F_8D5FBADF:01BB_6AB7A4B1_1752A6:2233C2
            X-Ovh-Queryid:
                - EU.ext-5.6ab7a4b1.600086.f48052610acb49894e17a9aa2bc73aa6
        status: 200 OK
        code: 200
        duration: 98.617875ms
