---
version: 2
interactions:
    - id: 0
      request:
        host: api.pagerduty.com
        form:
            limit:
                - "100"
            offset:
                - "0"
        headers:
        url: https://api.pagerduty.com/users?limit=100&offset=0
        method: GET
      response:
        body: '{"users":[{"id":"PXAAAAA","email":"jane@example.com","name":"Jane Doe","role":"admin","invitation_sent":false,"created_at":"2024-06-01T12:00:00Z"},{"id":"PXBBBBB","email":"bob@example.com","name":"Bob Smith","role":"user","invitation_sent":true,"created_at":"2025-04-10T09:30:00Z"}],"more":false,"limit":100,"offset":0,"total":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
