---
# Anonymized from a real POST /graphql/v2 { me { ... workspaces { members } } }
# recording against a live Railway account (token stripped by the recorder).
# The live response carried a single ADMIN member (self) with
# twoFactorAuthEnabled=false; PII (account/member/workspace IDs, names, emails,
# workspace name) was replaced with synthetic values, and a second MEMBER plus
# the admin's MFA-enabled flag are synthetic to keep role/MFA coverage. The
# me/workspaces/members object shape mirrors the live response.
version: 2
interactions:
    - id: 0
      request:
        host: backboard.railway.com
        body: '{"query":"query { me { id name email workspaces { id name members { id email name role twoFactorAuthEnabled } } } }"}'
        headers:
            Content-Type:
                - application/json
        url: https://backboard.railway.com/graphql/v2
        method: POST
      response:
        body: '{"data":{"me":{"id":"8f7e6d5c-4b3a-2910-8a7b-6c5d4e3f2a1b","name":"Ada Lovelace","email":"ada@example.com","workspaces":[{"id":"3c1d9e8f-7a6b-5c4d-3e2f-1a0b9c8d7e6f","name":"Probo","members":[{"id":"8f7e6d5c-4b3a-2910-8a7b-6c5d4e3f2a1b","email":"ada@example.com","name":"Ada Lovelace","role":"ADMIN","twoFactorAuthEnabled":true},{"id":"1b2c3d4e-5f6a-7b8c-9d0e-1f2a3b4c5d6e","email":"grace@example.com","name":"Grace Hopper","role":"MEMBER","twoFactorAuthEnabled":false}]}]}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
