# HAND-AUTHORED, not recorded. Listing users needs an API token carrying the
# users:read scope, and Retool refuses to widen a token's scopes through the
# API (GET /access_tokens answers "this API endpoint is not available on your
# plan"), so the scope can only be granted in the web console. Every field,
# type and enum value below is taken from Retool's own published OpenAPI at
# https://api.retool.com/api/v2/spec. Re-record against a scoped token when one
# exists: an authored fixture can only prove the decoder matches its author's
# reading of the spec.
#
# Two interactions on purpose, so the next_token/has_more loop is exercised
# rather than just the terminal page.
---
version: 2
interactions:
    - id: 0
      request:
        host: api.retool.com
        form:
            limit:
                - "100"
        headers:
        url: https://api.retool.com/api/v2/users?limit=100
        method: GET
      response:
        body: '{"success":true,"data":[{"id":"01920000-0000-7000-8000-000000000001","legacy_id":1001,"email":"admin@example.com","active":true,"created_at":"2026-01-15T10:00:00.000Z","last_active":"2026-09-01T08:30:00.000Z","first_name":"Ada","last_name":"Admin","metadata":{},"is_admin":true,"user_type":"default","seat_type":"builder","two_factor_auth_enabled":true}],"total_count":2,"next_token":"eyJvIjoxfQ","has_more":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 120ms
    - id: 1
      request:
        host: api.retool.com
        form:
            limit:
                - "100"
            next_token:
                - eyJvIjoxfQ
        headers:
        url: https://api.retool.com/api/v2/users?limit=100&next_token=eyJvIjoxfQ
        method: GET
      response:
        body: '{"success":true,"data":[{"id":"01920000-0000-7000-8000-000000000002","legacy_id":1002,"email":"viewer@example.com","active":false,"created_at":"2026-02-20T09:00:00.000Z","last_active":null,"first_name":null,"last_name":null,"metadata":{},"is_admin":false,"user_type":"embed","seat_type":"externalUser","two_factor_auth_enabled":false}],"total_count":2,"next_token":null,"has_more":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 110ms
