---
# Hand-authored K7 fixture matching Rippling's published users response schema.
# Synthetic resource IDs and identities only.
version: 2
interactions:
    - id: 0
      request:
        host: rest.ripplingapis.com
        form: {}
        headers:
        url: https://rest.ripplingapis.com/users
        method: GET
      response:
        body: '{"results":[{"id":"user-1","created_at":"2026-08-20T14:12:00Z","active":true,"username":"alice","display_name":"Alice Admin","name":{"formatted":"Alice Example"},"emails":[{"value":"alice.personal@example.net","type":"HOME"},{"value":"alice@example.com","type":"WORK"}]},{"id":"user-without-email","active":true,"display_name":"No Email","emails":[]}],"next_link":"https://rest.ripplingapis.com/users?cursor=page-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
    - id: 1
      request:
        host: rest.ripplingapis.com
        form:
            cursor:
                - page-2
        headers:
        url: https://rest.ripplingapis.com/users?cursor=page-2
        method: GET
      response:
        body: '{"results":[{"id":"user-2","active":false,"username":"bob","name":{"formatted":"Bob Former"},"emails":[{"value":"bob@example.com","type":"OTHER"}]},{"id":"user-3","username":"carol","emails":[{"value":"carol@example.com","type":"WORK"}]}],"next_link":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50ms
