---
version: 2
interactions:
    - id: 0
      request:
        host: api.sendgrid.com
        form:
            limit:
                - "500"
            offset:
                - "0"
        headers:
        url: https://api.sendgrid.com/v3/teammates?limit=500&offset=0
        method: GET
      response:
        body: '{"result":[{"username":"owner-user","email":"owner@example.com","first_name":"Olivia","last_name":"Owner","user_type":"owner","is_admin":true},{"username":"admin-user","email":"admin@example.com","first_name":"","last_name":"","user_type":"admin","is_admin":true},{"username":"teammate-user","email":"teammate@example.com","first_name":"Taylor","last_name":"Teammate","user_type":"teammate","is_admin":false},{"username":"missing-email","email":"","first_name":"Missing","last_name":"Email","user_type":"teammate","is_admin":false}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 18ms
    - id: 1
      request:
        host: api.sendgrid.com
        headers:
        url: https://api.sendgrid.com/v3/teammates/owner-user
        method: GET
      response:
        body: '{"result":{"username":"owner-user","email":"owner@example.com","first_name":"Olivia","last_name":"Owner","user_type":"owner","is_admin":true,"scopes":["mail.send","2fa_required"]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 16ms
    - id: 2
      request:
        host: api.sendgrid.com
        headers:
        url: https://api.sendgrid.com/v3/teammates/admin-user
        method: GET
      response:
        body: '{"result":{"username":"admin-user","email":"admin@example.com","first_name":"","last_name":"","user_type":"admin","is_admin":true,"scopes":["mail.send","2fa_required"]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 17ms
    - id: 3
      request:
        host: api.sendgrid.com
        headers:
        url: https://api.sendgrid.com/v3/teammates/teammate-user
        method: GET
      response:
        body: '{"result":{"username":"teammate-user","email":"teammate@example.com","first_name":"Taylor","last_name":"Teammate","user_type":"teammate","is_admin":false,"scopes":["mail.send","2fa_exempt"]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 17ms
