---
version: 2
interactions:
    - id: 0
      request:
        host: slack.com
        form:
            limit:
                - "200"
        url: https://slack.com/api/users.list?limit=200
        method: GET
      response:
        body: '{"cache_ts":1790169852,"members":[{"color":"757575","deleted":false,"id":"USLACKBOT","is_admin":false,"is_app_user":false,"is_bot":false,"is_email_confirmed":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"name":"member1","profile":{"display_name":"Member 1","real_name":"Member 1","title":""},"real_name":"Member 1","team_id":"T0000000000","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"updated":0,"who_can_share_contact_card":"EVERYONE"},{"deleted":true,"id":"U0000000002","is_app_user":false,"is_bot":false,"name":"member2","profile":{"display_name":"Member 2","email":"member2@example.com","real_name":"Member 2","title":""},"real_name":"Member 2","team_id":"T0000000000","updated":1757334170},{"color":"4bbe2e","deleted":false,"has_2fa":false,"id":"U0000000003","is_admin":true,"is_app_user":false,"is_bot":false,"is_email_confirmed":true,"is_owner":true,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"name":"member3","profile":{"display_name":"Member 3","email":"member3@example.com","real_name":"Member 3","title":""},"real_name":"Member 3","team_id":"T0000000000","tz":"Europe\/Brussels","tz_label":"Central European Summer Time","tz_offset":7200,"updated":1790155197,"who_can_share_contact_card":"EVERYON[...]
