---
version: 2
interactions:
    - id: 0
      request:
        host: api.snyk.io
        form:
            limit:
                - "100"
            version:
                - "2024-10-15"
        headers:
        url: https://api.snyk.io/rest/orgs/org-1234/memberships?version=2024-10-15&limit=100
        method: GET
      response:
        body: '{"data":[{"id":"membership-1","type":"org_membership","attributes":{"user":{"id":"user-1","email":"jane@example.com","name":"Jane Doe"},"role":{"id":"role-1","name":"Admin"}}},{"id":"membership-2","type":"org_membership","attributes":{"user":{"id":"user-2","email":"bob@example.com","name":"Bob Smith"},"role":{"id":"role-2","name":"Collaborator"}}}],"links":{"self":"/rest/orgs/org-1234/memberships?version=2024-10-15&limit=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 100ms
