version: 2
interactions:
- id: 0
  request:
    host: api.tally.so
    headers:
    url: https://api.tally.so/users/me
    method: GET
  response:
    body: '{"id":"3qQZMd","firstName":"Alice","lastName":"Johnson","email":"alice@example.com","avatarUrl":"","isBlocked":false,"isDeleted":false,"timezone":"Europe/Paris","isUnknownDeviceVerificationDisabled":false,"createdAt":"2026-08-19T07:41:44.000Z","updatedAt":"2026-08-19T09:58:18.000Z","organizationId":"wdGENV","fullName":"Alice
      Johnson","ssoIsConnectedWithGoogle":true,"ssoIsConnectedWithApple":false,"hasPasswordSet":false,"authenticationMethodsCount":1,"hasTwoFactorEnabled":false,"emailDomain":"example.com","isOrganizationOwner":true,"organizationOwner":{"id":"3qQZMd","firstName":"Alice","lastName":"Johnson","email":"alice@example.com","avatarUrl":"","isBlocked":false,"isDeleted":false,"timezone":"Europe/Paris","isUnknownDeviceVerificationDisabled":false,"createdAt":"2026-08-19T07:41:44.000Z","updatedAt":"2026-08-19T09:58:18.000Z","organizationId":"wdGENV","fullName":"Alice
      Johnson","ssoIsConnectedWithGoogle":true,"ssoIsConnectedWithApple":false,"hasPasswordSet":false,"authenticationMethodsCount":1,"hasTwoFactorEnabled":false,"emailDomain":null},"canAccessBilling":false,"subscriptionPlan":"FREE","hasPendingSubscriptionCancellation":false,"hasAccess":true,"excessUsage":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56f-Kd/vIvtHNS9+UHu8XJrwuP9CoNI"
      Origin-Agent-Cluster:
      - ?1
      X-Cloud-Trace-Context:
      - bf026abda64c316b4a335597627070d0
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1787133805'
    status: 200 OK
    code: 200
    duration: 116.563458ms
[...]
