---
version: 2
interactions:
    - id: 0
      request:
        host: probo.twingate.com
        body: '{"query":"query($after: String, $first: Int!) {\n  users(after: $after, first: $first) {\n    pageInfo { hasNextPage endCursor }\n    edges { node { id email firstName lastName role isAdmin state type createdAt } }\n  }\n}","variables":{"first":100}}'
        headers:
            Content-Type:
                - application/json
        url: https://probo.twingate.com/api/graphql/
        method: POST
      response:
        body: '{"data":{"users":{"edges":[{"node":{"createdAt":"2026-09-09T20:39:15.125431+00:00","email":"member1@example.com","firstName":"Member1","id":"twingate-user-0001","isAdmin":true,"lastName":"Example","role":"ADMIN","state":"ACTIVE","type":"MANUAL"}}],"pageInfo":{"endCursor":"YXJyYXljb25uZWN0aW9uOjA=","hasNextPage":false}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.931375ms
