---
# Hand-authored cassette for one UniFi console, reached through the Site Manager
# console proxy on api.ui.com (X-API-KEY stripped by the recorder). It covers
# BOTH APIs the driver reads, walked in driver order: the documented Integration
# API collections under /proxy/network/integration, then each WiFi broadcast's
# detail representation, then the LEGACY application API RADIUS user list under
# /proxy/network/api/s/default/list/account.
#
# The driver emits a record only for an identifiab[...]
    - id: 0
      request:
        host: api.ui.com
        form:
            limit:
                - "200"
            offset:
                - "0"
        headers:
        url: https://api.ui.com/v1/connector/consoles/ABCDEF0123456789:1234567890/proxy/network/integration/v1/sites?limit=200&offset=0
        method: GET
      response:
        body: '{"count":1,"data":[{"id":"11111111-1111-4111-8111-111111111111","internalReference":"default","name":"HQ"}],"limit":200,"offset":0,"totalCount":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: api.ui.com
        form:
            limit:
                - "200"
            offset:
                - "0"
        headers:
        url: https://api.ui.com/v1/connector/consoles/ABCDEF0123456789:1234567890/proxy/network/integration/v1/sites/11111111-1111-4111-8111-111111111111/wifi/broadcasts?limit=200&offset=0
        method: GET
      response:
        body: '{"count":4,"data":[{"id":"22222222-2222-4222-8222-222222222001","name":"Office","type":"STANDARD","enabled":true,"metadata":{"origin":"USER_DEFINED"},"securityConfiguration":{"type":"WPA2_WPA3_ENTERPRISE"}},{"id":"22222222-2222-4222-8222-222222222002","name":"Guest","type":"STANDARD","enabled":true,"metadata":{"origin":"USER_DEFINED"},"securityConfiguration":{"type":"OPEN"},"hotspotConfiguration":{"type":"CAPTIVE_PORTAL"}},{"id":"22222222-2222-4222-8222-222222222003","name":"IoT Legacy","type":"IOT_OPTIMIZED","enabled":false,"metadata":{"origin":"USER_DEFINED"},"securityConfiguration":{"type":"WPA2_PERSONAL"}},{"id":"22222222-2222-4222-8222-222222222004","name":"Corp-WiFi","type":"STANDARD","enabled":true,"metadata":{"origin":"USER_DEFINED"},"securityConfiguration":{"type":"WPA3_ENTERPRISE"}}],"limit":200,"offset":0,"totalCount":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 2
      request:
        host: api.ui.com
        form:
            limit:
                - "200"
            offset:
                - "0"
        headers:
        url: https://api.ui.com/v1/connector/consoles/ABCDEF0123456789:1234567890/proxy/network/integration/v1/sites/11111111-1111-4111-8111-111111111111/radius/profiles?limit=200&offset=0
        method: GET
      response:
        body: '{"count":1,"data":[{"id":"77777777-7777-4777-8777-777777777001","name":"Built-in RADIUS","metadata":{"origin":"SYSTEM_DEFINED"}}],"limit":200,"offset":0,"totalCount":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 3
      request:
        host: api.ui.com
        form:
            limit:
                - "1000"
            offset:
                - "0"
        headers:
        url: https://api.ui.com/v1/connector/consoles/ABCDEF0123456789:1234567890/proxy/network/integration/v1/sites/11111111-1111-4111-8111-111111111111/hotspot/vouchers?limit=1000&offset=0
        method: GET
      response:
        body: '{"count":2,"data":[{"id":"44444444-4444-4444-8444-444444444001","name":"hotel-guest","code":"4861409510","createdAt":"2026-07-01T09:00:00Z","activatedAt":"2026-07-02T14:20:00Z","expiresAt":"2026-07-03T14:20:00Z","expired":false,"authorizedGuestCount":1,"authorizedGuestLimit":1,"timeLimitMinutes":1440},{"id":"44444444-4444-4444-8444-444444444002","name":"conference","code":"1029384756","createdAt":"2026-05-14T08:00:00Z","expired":true,"authorizedGuestCount":0,"timeLimitMinutes":480}],"limit":1000,"offset":0,"totalCount":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 4
      request:
        host: api.ui.com
        headers:
        url: https://api.ui.com/v1/connector/consoles/ABCDEF0123456789:1234567890/proxy/network/integration/v1/sites/11111111-1111-4111-8111-111111111111/wifi/broadcasts/22222222-2222-4222-8222-222222222001
        method: GET
      response:
        body: '{"id":"22222222-2222-4222-8222-222222222001","name":"Office","type":"STANDARD","enabled":true,"metadata":{"origin":"USER_DEFINED"},"securityConfiguration":{"type":"WPA2_WPA3_ENTERPRISE","coaEnabled":false,"wpa3FastRoamingEnabled":false,"pmfMode":"OPTIONAL","radiusConfiguration":{"profileId":"77777777-7777-4777-8777-777777777001","nasId":{"type":"DERIVED","source":"DEVICE_NAME"}}},"clientFilteringPolicy":{"action":"ALLOW","macAddressFilter":["94:2a:6f:26:c6:ca","AA-BB-CC-DD-EE-FF"]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
    - id: 6
      request:
        host: api.ui.com
        headers:
        url: https://api.ui.com/v1/connector/consoles/ABCDEF0123456789:1234567890/proxy/network/integration/v1/sites/11111111-1111-4111-8111-111111111111/wifi/broadcasts/22222222-2222-4222-8222-222222222003
        method: GET
      response:
        body: '{"id":"22222222-2222-4222-8222-222222222003","name":"IoT Legacy","type":"IOT_OPTIMIZED","enabled":false,"metadata":{"origin":"USER_DEFINED"},"securityConfiguration":{"type":"WPA2_PERSONAL","passphrase":"REDACTED"},"clientFilteringPolicy":{"action":"BLOCK","macAddressFilter":["00:11:22:33:44:55"]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 7
      request:
        host: api.ui.com
        headers:
        url: https://api.ui.com/v1/connector/consoles/ABCDEF0123456789:1234567890/proxy/network/integration/v1/sites/11111111-1111-4111-8111-111111111111/wifi/broadcasts/22222222-2222-4222-8222-222222222004
        method: GET
      response:
        body: '{"id":"22222222-2222-4222-8222-222222222004","name":"Corp-WiFi","type":"STANDARD","enabled":true,"metadata":{"origin":"USER_DEFINED"},"securityConfiguration":{"type":"WPA3_ENTERPRISE","coaEnabled":true,"securityMode":"DEFAULT","radiusConfiguration":{"profileId":"77777777-7777-4777-8777-777777777001","nasId":{"type":"USER_DEFINED","value":"corp"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 8
      request:
        host: api.ui.com
        headers:
        url: https://api.ui.com/v1/connector/consoles/ABCDEF0123456789:1234567890/proxy/network/api/s/default/list/account
        method: GET
      response:
        body: '{"meta":{"rc":"ok"},"data":[{"_id":"ra1","name":"alice","x_password":"REDACTED","vlan":"20","site_id":"5f0c1b2a3d4e5f60718293a4"},{"_id":"ra2","name":"bob","x_password":"REDACTED","vlan":30,"tunnel_type":13,"tunnel_medium_type":6,"site_id":"5f0c1b2a3d4e5f60718293a4"},{"_id":"ra3","name":"carol","x_password":"REDACTED","site_id":"5f0c1b2a3d4e5f60718293a4"},{"_id":"","name":"  "}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
