Hi {{.FullName}},

Thanks for joining Probo!

Please confirm your email address by clicking the link below:

{{.ConfirmationURL}}

If you did not sign up for Probo, please ignore this email.

Thanks,
Probo Team
