default-src 'self';
script-src 'self';
style-src 'self' 'unsafe-inline';
img-src 'self' data: {{.AppOrigin}};
font-src 'self';
connect-src 'self' {{.AppOrigin}};
worker-src 'self' blob:;
object-src 'none';
base-uri 'self';
form-action 'self';
frame-ancestors 'none'
