*Welcome to Probo app!*

This channel is now connected to your Probo platform. You'll receive notifications here for:
• New trust center access requests

*Organization:* {{.OrganizationName}}
*Channel:* {{.ChannelName}}

